In [ ]:
#largest and smallest number from list
list=[1,20,30,100]
print(max(list))
print(min(list))

100
1

In [ ]:
#check if the list is empty or not
list=[]
if len(list)==0:
	print("list is empty")
else:
	print("list is not empty")

list is empty

In [ ]:
# copy a list
list1=["varshi" ,"vaishu","appu"]
list2=list(list1)
print(list1)
print(list2)

TypeError: ignored

In [ ]:
#to copy a contents of file from another file
list1=["varshi","vaishu","mom","dad"]
list2=list1.copy()
print(list2)

['varshi', 'vaishu', 'mom', 'dad']

In [ ]:
#remove even number from list
list=[2,11,10,55,60,37,12,]
for x in list:
	if(x%2==0):
		list.remove(x)
print(list)

[11, 55, 37]

In [ ]:
#to sum all the items of list
a=[100,200,200]
print(sum(a))

500